automation_and_predictive/.DS_Store
automation_and_predictive/env/
automation_and_predictive/backup/
automation_and_predictive/output/
automation_and_predictive/resources/
automation_and_predictive/important/
automation_and_predictive/src/chromedriver
automation_and_predictive/src/logs/geckodriver.log
automation_and_predictive/src/logs/ghostdriver.log